@{
}

<h2>Поиск игроков</h2>
<form asp-controller="Home" asp-action="SearchPlayer">
    <p>
        Title: <input type="text" name="PlayerName">
        <input type="submit" value="Search" />
    </p>
</form>