################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages/
bin/
obj/
*.user
.vs/
*.dbmdl
*.jfm
*.vspscc
