<app-account-info
  [account]="account$ | async"
  [playerPrivateInfo]="privateInfo$ | async"
></app-account-info>
<app-account-aggregated-info
  [aggregatedInfo]="accountAggregatedInfo$ | async"
></app-account-aggregated-info>
<div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
  Getting account info error: {{ errorMessage }}
</div>
<div *ngIf="aggregatedInfoErrorMessage$ | async as aggregatedInfoErrorMessage" class="alert alert-danger">
  Getting account aggregated info error: {{ aggregatedInfoErrorMessage }}
</div>
<div *ngIf="privateInfoLoadErrorMessage$ | async as privateInfoLoadErrorMessage" class="alert alert-danger">
  Getting account private info error: {{ privateInfoLoadErrorMessage }}
</div>

