<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] (%-5level) |%logger| %message%newline" />
    </layout>
  </appender>
  <appender name="BlitzStaticianLogic" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="WotBlitzStatician" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="Logs/BlitzStatician.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date (%-5level) %thread - [%logger{1}] %message%newline" />
    </layout>
  </appender>
  <appender name="WebServerLog" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Microsoft.AspNetCore.Server.Kestrel" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="WotBlitzStatician" />
      <acceptOnMatch value="false" />
    </filter>
    <file value="Logs/WebServer.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date (%-5level) %thread - [%logger{1}] %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="BlitzStaticianLogic" />
    <appender-ref ref="WebServerLog" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>