table {
  font-size: small;
}

tbody {
  height: 200px;
  overflow: auto;
  display: block;
}

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

.positive-diff {
  color: green;
}

.negative-diff {
  color: red;
}
