<div
  *ngIf="wgAuthUrlGettingError$ | async as errorMessage"
  class="alert alert-danger"
>
  Could not get URL to Wargaming login page: {{ errorMessage }}
</div>

<div class="media p-5">
  <img
    class="mr-3"
    src="../../../assets/img/splash.png"
    alt="Приветсвуем!"
  />
  <div class="media-body">
    <h5 class="mt-0">Добро пожаловать!</h5>
    Вы можете посмотреть статистику любого игрока, воспользовавшись поиском по нику (например, Swarov5ki)<br>
    Так же, вы можете залогиниться под своим аккаунтом Wargaming. Это позволит вам отслеживать свою игровую статистику во времени.
  </div>
</div>
