/* You can add global styles to this file, and also import other style files */
.scale-very-bad {
  color: #000000
}

.scale-bad {
  color: #cd3333
}

.scale-below-average {
  color: #d77900
}

.scale-average {
  color: #d7b600
}

.scale-good {
  color: #6d9521
}

.scale-very-good {
  color: #4c762e
}

.scale-great {
  color: #4a92b7
}

.scale-unicum {
  color: #83579d
}

.scale-super-unicum {
  color: #5a3175
}

.scale-very-bad-inverse {
  background-color: #000000;
  color: white;
}

.scale-bad-inverse {
  background-color: #cd3333;
  color: white;
}

.scale-below-average-inverse {
  background-color: #d77900;
  color: white;
}

.scale-average-inverse {
  background-color: #d7b600;
  color: white;
}

.scale-good-inverse {
  background-color: #6d9521;
  color: white;
}

.scale-very-good-inverse {
  background-color: #4c762e;
  color: white;
}

.scale-great-inverse {
  background-color: #4a92b7;
  color: white;
}

.scale-unicum-inverse {
  background-color: #83579d;
  color: white;
}

.scale-super-unicum-inverse {
  background-color: #5a3175;
  color: white;
}

.tank-type-AT-SPG {
  width: 25px;
  height: 25px;
  content: url("assets/img/tank-type/AT-SPG.png");
}

.tank-type-heavyTank {
  width: 25px;
  height: 25px;
  content: url("assets/img/tank-type/heavyTank.png");
}

.tank-type-lightTank {
  width: 25px;
  height: 25px;
  content: url("assets/img/tank-type/lightTank.png");
}

.tank-type-mediumTank {
  width: 25px;
  height: 25px;
  content: url("assets/img/tank-type/mediumTank.png");
}

.tank-type-AT-SPG-prem {
  width: 25px;
  height: 25px;
  content: url("assets/img/tank-type-prem/prem-AT-SPG.png");
}

.tank-type-heavyTank-prem {
  width: 25px;
  height: 25px;
  content: url("assets/img/tank-type-prem/prem-heavyTank.png");
}

.tank-type-lightTank-prem {
  width: 25px;
  height: 25px;
  content: url("assets/img/tank-type-prem/prem-lightTank.png");
}

.tank-type-mediumTank-prem {
  width: 25px;
  height: 25px;
  content: url("assets/img/tank-type-prem/prem-mediumTank.png");
}

.flag-china {
  width: 43px;
  height: 25px;
  content: url("assets/img/flags/china.png")
}

.flag-france {
  width: 43px;
  height: 25px;
  content: url("assets/img/flags/france.png")
}

.flag-germany {
  width: 43px;
  height: 25px;
  content: url("assets/img/flags/germany.png")
}

.flag-japan {
  width: 43px;
  height: 25px;
  content: url("assets/img/flags/japan.png")
}

.flag-other {
  width: 43px;
  height: 25px;
  content: url("assets/img/flags/other.png")
}

.flag-uk {
  width: 43px;
  height: 25px;
  content: url("assets/img/flags/uk.png")
}

.flag-usa {
  width: 43px;
  height: 25px;
  content: url("assets/img/flags/usa.png")
}

.flag-ussr {
  width: 43px;
  height: 25px;
  content: url("assets/img/flags/ussr.png")
}

.mastery-1, .mastery-Rank3 {
  width: 30px;
  height: 30px;
  content: url("assets/img/mastery/rank3.png")
}

.mastery-2, .mastery-Rank2 {
  width: 30px;
  height: 30px;
  content: url("assets/img/mastery/rank2.png")
}

.mastery-3, .mastery-Rank1 {
  width: 30px;
  height: 30px;
  content: url("assets/img/mastery/rank1.png")
}

.mastery-4, .mastery-Master {
  width: 30px;
  height: 30px;
  content: url("assets/img/mastery/master.png")
}
