<div class="text-center">Количество боёв:</div>
<div class="row">
  <div class="col-sm-3" id="battlesByTypeChart">
    <canvas id="battlesByTypeCanvas">{{ battlesByTypeChart }}</canvas>
  </div>
  <div class="col-sm-3" id="battlesByTierChart">
    <canvas id="battlesByTierCanvas">{{ battlesByTierChart }}</canvas>
  </div>
  <div class="col-sm-3" id="battlesByNationChart">
    <canvas id="battlesByNationCanvas">{{ battlesByNationChart }}</canvas>
  </div>
  <div class="col-sm-3" id="battlesByPremiumChart">
    <canvas id="battlesBypremiumCanvas">{{ battlesByPremiumChart }}</canvas>
  </div>
</div>
<div class="text-center">Процент побед:</div>
<div class="row">
  <div class="col-sm-3" id="winrateByTypeChart">
    <canvas id="winrateByTypeCanvas">{{ winrateByTypeChart }}</canvas>
  </div>
  <div class="col-sm-3" id="winrateByTierChart">
    <canvas id="winrateByTierCanvas">{{ winrateByTierChart }}</canvas>
  </div>
  <div class="col-sm-3" id="winrateByNationChart">
    <canvas id="winrateByNationCanvas">{{ winrateByNationChart }}</canvas>
  </div>
  <div class="col-sm-3" id="winrateByPremiumChart">
    <canvas id="winrateBypremiumCanvas">{{ winrateByPremiumChart }}</canvas>
  </div>
</div>
