<div class="container-fluid">
  <div class="row m-5">
    <div class="col-sm-7">
      <div *ngIf="epicAchievements.length > 0">
        <h5>{{epicAchievements[0].sectionName}}</h5>
        <div class="row">
          <div *ngFor="let epic of epicAchievements" class="text-center">
            <img class="achievment-img" src="{{epic.localImage}}" title="{{epic.name}}&#13;{{epic.description}}" /><br />
            {{epic.count}}
          </div>
        </div>
      </div>
      <div *ngIf="platoonAchievements.length > 0">
        <h5>{{platoonAchievements[0].sectionName}}</h5>
        <div class="row">
          <div *ngFor="let platoon of platoonAchievements" class="text-center">
            <img class="achievment-img" src="{{platoon.localImage}}" title="{{platoon.name}}&#13;{{platoon.description}}" /><br />
            <!-- <span *ngIf="platoon.isAchievementOption===false">{{platoon.count}}</span> -->
            {{platoon.count}}
          </div>
        </div>
      </div>
      <div *ngIf="battleAchievements.length > 0">
        <h5>{{battleAchievements[0].sectionName}}</h5>
        <div class="row">
          <div *ngFor="let battle of battleAchievements" class="text-center">
            <img class="achievment-img" src="{{battle.localImage}}" title="{{battle.name}}&#13;{{battle.description}}" /><br />
            {{battle.count}}
          </div>
        </div>
      </div>
      <div *ngIf="titleAchievements.length > 0">
        <h5>{{titleAchievements[0].sectionName}}</h5>
        <div class="row">
          <div *ngFor="let title of titleAchievements" class="text-center">
            <img class="achievment-img" src="{{title.localImage}}" title="{{title.name}}&#13;{{title.description}}" /><br />
            {{title.count}}
          </div>
        </div>
      </div>
      <div *ngIf="commemorativeAchievements.length > 0">
        <h5>{{commemorativeAchievements[0].sectionName}}</h5>
        <div class="row">
          <div *ngFor="let com of commemorativeAchievements" class="text-center">
            <img class="achievment-img" src="{{com.localImage}}" title="{{com.name}}&#13;{{com.description}}" /><br />
            {{com.count}}
          </div>
        </div>
      </div>
      <div *ngIf="stepAchievements.length > 0">
        <h5>{{stepAchievements[0].sectionName}}</h5>
        <div class="row">
          <div *ngFor="let step of stepAchievements" class="text-center">
            <img class="achievment-img" src="{{step.localImage}}" title="{{step.name}}&#13;{{step.description}}" /><br />
            {{step.count}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">

    </div>
  </div>
</div>