<div class="row">
    <div class="col-sm-5">
        <img src="../../../assets/img/splash.png">
    </div>
    <div class="col-sm-4">
        <div class="middle-by-height" *ngIf="accountAuthService.showButtons">
            <button type="button" class="btn btn-primary btn-block" (click)="redirectToWargamingLogin()">Login with Wargaming Id</button>
            <button type="button" class="btn btn-primary btn-block">Find player by nick</button>
            <button type="button" class="btn btn-primary btn-block">Demo mode</button>
        </div>
    </div>
</div>
{{accountAuthService.status}}