@model WotBlitzStatician.ViewModel.AccountInfoViewModel
@{
	ViewData["NickName"] = Model.AccountInfo.NickName;
	ViewData["AccountId"] = Model.AccountInfo.AccountId;
}

<h2>Аккаунт @Model.AccountInfo.AccountId </h2>