<div *ngIf="error$ | async as errorMessage" class="alert alert-danger">
  Getting account history error: {{ errorMessage }}
</div>
<form class="form-inline">
  <div class="form-group">
    <label for="dateFrom">Дата с:</label>
    <input type="date" class="form-control" id="dateFrom" [ngModel]="dateFrom$ | async |date:'yyyy-MM-dd'" (ngModelChange)="dateFromChanged($event)"
      [ngModelOptions]="{standalone: true}">
  </div>
</form>
<div class="row">
  <div class="col-sm-6" id="historyWinRateChart">
    winrateCanvas
    <div *ngIf="winRateChart">
      <canvas id="winrateCanvas">{{ winRateChart }}</canvas>
    </div>
  </div>
  <div class="col-sm-6" id="historyWn7Chart">
    <div *ngIf="wn7Chart">
      <canvas id="wn7Canvas">{{ wn7Chart }}</canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" id="historyAvgDamageChart">
    <div *ngIf="avgDamageChart">
      <canvas id="avgDmgCanvas">{{ avgDamageChart }}</canvas>
    </div>
  </div>
  <div class="col-sm-6" id="historyXpChart">
    <div *ngIf="avgXpChart">
      <canvas id="avgXpCanvas">{{ avgXpChart }}</canvas>
    </div>
  </div>
</div>
<div id="historyTable">
  <table class="table table-hover table-sm table-bordered">
    <thead class="text-center">
      <tr>
        <th>
          <fa-icon [icon]="['far', 'clock']"></fa-icon>
        </th>
        <th>
          <fa-icon icon="gamepad"></fa-icon>
        </th>
        <th>
          <fa-icon icon="flag"></fa-icon>
        </th>
        <th>
          <fa-icon icon="calculator" size="xs"></fa-icon> Wn7
        </th>
        <th>
          <fa-icon icon="skull-crossbones"></fa-icon>
        </th>
        <th>
          <fa-icon [icon]="['far', 'star']"></fa-icon>
        </th>
        <th>
          <fa-icon [icon]="['far', 'heart']"></fa-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ac of accountHistory$ | async as accountHistory">
        <td>
          {{ac.updatedAt|date:"short"}}
        </td>
        <td>
          {{ac.battles|number}} <small class="positive-diff">+{{ac.battlesDiff}}</small>
        </td>
        <td>
          {{ac.winRate|percent:'2.2-2'}} <small [ngClass]="{'positive-diff': ac.winRateDiff >= 0, 'negative-diff': ac.winRateDiff < 0}">
            <span *ngIf="ac.winRateDiff > 0">+</span>{{ac.winRateDiff|percent:'2.2-2'}}
          </small>
        </td>
        <td>
          {{ac.wn7|number:'3.0-0'}} <small [ngClass]="{'positive-diff': ac.wn7Diff >= 0, 'negative-diff': ac.wn7Diff < 0}">
            <span *ngIf="ac.wn7Diff > 0">+</span>{{ac.wn7Diff}}
          </small>
        </td>
        <td>
          {{ac.avgDamage|number:'3.0-0'}} <small [ngClass]="{'positive-diff': ac.avgDamageDiff >= 0, 'negative-diff': ac.avgDamageDiff < 0}">
            <span *ngIf="ac.avgDamageDiff > 0">+</span>{{ac.avgDamageDiff}}
          </small>
        </td>
        <td>
          {{ac.avgXp|number:'3.0-0'}} <small [ngClass]="{'positive-diff': ac.avgXpDiff >= 0, 'negative-diff': ac.avgXpDiff < 0}">
            <span *ngIf="ac.avgXpDiff > 0">+</span>{{ac.avgXpDiff}}
          </small>
        </td>
        <td>
          {{ac.survivalRate|percent:'2.2-2'}} <small [ngClass]="{'positive-diff': ac.survivalRateDiff >= 0, 'negative-diff': ac.survivalRateDiff < 0}">
            <span *ngIf="ac.survivalRateDiff > 0">+</span>{{ac.survivalRateDiff|percent:'2.2-2'}}
          </small>
        </td>
      </tr>
    </tbody>
  </table>
</div>
