<div class="row tank-card-stat-item fixed_sixe_auto-margin">
    <img [ngClass]="'mr-1 flag-' + tankInfo.vehicleNation" />
    <img [ngClass]="'mr-1 tank-type-' + tankInfo.vehicleType + (tankInfo.vehicleIsPremium ? '-prem' : '')" />
    <b class="mr-1">{{tankInfo.tankTierRoman}}</b>
    <img *ngIf="tankInfo.tankMarkOfMastery != 'None'" [ngClass]="'mr-1 mastery-' + tankInfo.tankMarkOfMastery" />
    <fa-icon icon="warehouse" class="mr-1" [ngStyle]="{'opacity': (tankInfo.tankInGarage ? '1' : '0.5')}"></fa-icon>
    <b>{{tankInfo.vehicleName}}</b>
</div>
<div class="row fixed_sixe_auto-margin">
    <div class="col-sm-5">
        <img src="{{tankInfo.previewLocalImage}}" width="100%" />
    </div>
    <div class="col-sm-6">
        <div class="tank-card-stat-item">
            <fa-icon icon="gamepad"></fa-icon> {{tankInfo.tankBattles|number}}
        </div>
        <div class="tank-card-stat-item" [appBlitzColorScale]="tankInfo.winRate">
            <fa-icon icon="flag"></fa-icon> {{tankInfo.winRate|percent:'2.2-2'}}
        </div>
        <div class="tank-card-stat-item" [appBlitzColorScale]="tankInfo.tankWn7">
            <fa-icon icon="calculator" size="xs"></fa-icon> Wn7 {{tankInfo.tankWn7|number:'3.0-0'}}
        </div>
        <div class="tank-card-stat-item">
            <fa-icon icon="skull-crossbones"></fa-icon> {{tankInfo.avgDamage|number:'3.0-0'}}
        </div>
        <div class="tank-card-stat-item">
            <fa-icon [icon]="['far', 'star']"></fa-icon> {{tankInfo.avgXp|number:'3.0-0'}}
        </div>
        <div class="tank-card-stat-item">
            <fa-icon [icon]="['far', 'heart']"></fa-icon> {{tankInfo.survivalRate|percent:'2.2-2'}}
        </div>
    </div>
</div>
